@typeparam T

<div id="canvasHolder" style="
    background: #fff;
    width: 800px;
    height: 480px;
    border: 2px solid red;
">
    <canvas id="theCanvas" @ref=canvas></canvas>
</div>

