@page "/boids"

<HeadContent>
    <PageTitle>Boids demo</PageTitle>
</HeadContent>

<MudPaper>
    <MudText Typo=Typo.h1>Boids demo</MudText>
    <MudText Typo=Typo.h3>Not my code. Just checking if this even works.</MudText>
</MudPaper>

<div id="canvasHolder" style="
    background: #fff;
    margin: 0%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
">
    <canvas id="theCanvas"></canvas>
</div>

